/* General */
html {
  box-sizing: border-box;
}

@font-face {
  font-family: 'bauer-bodoni';
  src: url('./fonts/bauer-bodoni.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  font-family: 'bauer-bodoni';
}
  
:root {
  --pasta-white: white;
  --pasta-black: black;
  font-size: calc(0.625rem + 0.4vw);
}

#content {
  overflow: nh ;
}

body {
  background-image: url('./imgs/background.jpeg');
  color: var(--pasta-white);
}

a {
  color: var(--pasta-white);
}

/* Header */
header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  height: calc(10vh + 2vw);
  font-size: calc(0.5rem + 3vw);
  background-color: var(--pasta-black);
}

#title {
  align-self: center;
}

#logo {
  width: calc(1rem + 8vh);
  height: calc(1rem + 8vh);
  border-radius: 50%;
  margin-top: 1%;
}

/* Main content */
ul {
  list-style-type: none;
}

main {
  margin-top: 50px;
}

#main-content {
  display: flex;
  flex-flow: column;
  padding-bottom: 15%;
}

.products {
  display: flex;
  align-items: center;
  border-radius: 10%;
  background-color: rgb(0, 0, 0, 0.9);
  margin: 5%;
  font-size: calc(1rem + 2vw);
  gap: 15%;
}

a > img {
  width: calc(25vw + 10vh);
  height: calc(25vw + 10vh);
  border-radius: 15%;
  margin: 15px;
  margin-left: 0;
}

@media screen and (min-width: 500px) {
  ul {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: calc(5vh + 1vw);
  font-size: calc(0.5rem + 3vw);
  background-color: var(--pasta-black);
}

#slogan {
  align-self: center;
}

/* Menu */
#menu-content {
  display: flex;
  align-content: center;
  justify-content: center;
}

#menu-content > a > img {
  width: 100%;
  height: 120%;
  border-radius: 10%;
}

/* Contact */
#contact-content {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-flow: column;
  gap: 10vh;
  text-align: center;
  font-size: calc(1rem + 1vw);
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  padding: 5% 10%;
  width: 80%;
}

/* Background */